/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/isl-rus.autobil.bin
/isl-rus.autogen.bin
/isl-rus.autolex.bin
/isl-rus.automorf.bin
/isl-rus.autopgen.bin
/isl-rus.mode
/isl-rus.prob
/isl-rus.rlx.bin
/isl-rus.t1x.bin
/isl-rus.t2x.bin
/isl-rus.t3x.bin
/missing
/modes
/rus-isl.autobil.bin
/rus-isl.autogen.bin
/rus-isl.autolex.bin
/rus-isl.automorf.bin
/rus-isl.mode
/rus-isl.prob
/rus-isl.rlx.bin
/rus-isl.t1x.bin
/rus-isl.t2x.bin
/rus-isl.t3x.bin
/*.hfst
/*.gz
/*.pc
/*.zhfst
/.DS_Store
/ap_include.am
/config.in
/config
/test/*-output.txt
